/*header*/


body{
	height: 2000px;

}


.header{
	background-color: lightgrey;
	padding:20px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;

}
.logo{
	display: inline-block;
	margin-right: 50px;
}

.nav{
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.nav-li{
	display: inline-block;
	margin-right: 20px;
}

/*section 1*/

.section-text{
	width: 300px;
	background-color: darkred;
	margin-top: 56px;
}



/*section 2*/

.section-2{
	margin-top: 20px;
}

.box-wrapper{
	height: 400px;
	width: 400px;
	background-color: green;
	position: relative;
}

.box-1{
	height: 150px;
	width: 150px;
	background-color: yellow;
	position: absolute;
	right: 30px;
	bottom: 40px;
	z-index: 2;
}

.box-2{
	height: 150px;
	width: 150px;
	background-color: black;
	position: absolute;
	right: 80px;
	bottom: 100px;
	z-index: 1;
}

.box-3{
	height: 150px;
	width: 150px;
	background-color: red;
	position: absolute;
	top: 50px;
	right: 150px;
}


/*section 3*/


.blue-box{
	width: 400px;
	height: 400px;
	background-color: blue;
	position: relative;
}

.yellow-box{
	width: 100px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}


/*section 4*/

.section-4{
	margin-top: 20px;
}

.image-wrapper{
	position: relative;
	width: 1000px;
}

.image-text{
	position: absolute;
	top: 50px;
	right: 100px;
	color:wheat;
}

.icon{
	width: 50px;
	height: 50px;
}

.icon-image{
	position: fixed;
	right: 30px;
	bottom: 50px;

}