/*.hi{
	font-size: 60px;
	color: blueviolet;
}


.hello{
	font-size: 100px;
	position: absolute;
	top: 335px;
	left: 400px;
	color: white;
}

.image{
	position: relative;

}




/*header*/


body{
	height: 2000px;
}


.header{
	background-color: lightgrey;
	padding:20px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
.logo{
	display: inline-block;
	margin-right: 50px;
}

.nav{
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.nav-li{
	display: inline-block;
	margin-right: 20px;
}